#search-button {
   
   	background-color: #4d4e4e;
   	border-color: #4d4e4e

}



/*
    line {
      stroke: #000;
      stroke-width: 1.px;
    }

    text {
      font-size: 8px;
    }

    .titles{
      font-size: 10px;
    }

    path.chord {
      fill-opacity: .80;
    }*/

  .navbar-inverse .navbar-text {
    color: #ffffff;
    padding-left: 360px;
}

#flash {
	font-size: 20px;
	

}

.modal-form{
  margin:10px 0;
}

.rating-form {
  width: 100%;
}


#search-button:hover {
	background-color: #6C6A6A;
}

h1 {
	font-size: 50px;
	font-weight: bold;
}

.jumbotron p {
	font-size: 30px;

	
}


.jumbotron {
   background: rgb(200, 54, 54); 
   background: rgba(253, 252, 252, 0.5); 
   min-height: 350px;
   margin-bottom: 0;
   margin-top: 150px;
   border-radius: 50px !important;
   
}

#mychart {
	margin-top: 0;
}


#search-bar {
	min-height: 60px;
	font-size: 50px;

}



#Logo {
	font: helvetica;
	font-size: 250%;
	font-weight: bold;
	color: #3a3636;
}

#garage-list:hr {
	font-weight: bold;
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

#login-button {
	position: auto;
	top: 0;
	right: 1;
	margin-left: 5px;
	margin-right: 5px;
	float: right;
	background-color: #4d4e4e;
   	border-color: #4d4e4e
}

#login-button:hover {
	background-color: #6C6A6A;
}

#register-button {
	position: auto;
	top: 0;
	right: 0;
	float: right;
	background-color: #4d4e4e;
   	border-color: #4d4e4e
}

#register-button:hover { 
    background-color: #6C6A6A;
}

#logout-button {
  position: auto;
  top: 0;
  right: 1;
  margin-left: 5px;
  margin-right: 5px;
  float: right;
  background-color: #4d4e4e;
    border-color: #4d4e4e
}

#logout-button:hover {
  background-color: #6C6A6A;
}





.navbar {
   background: rgba(178, 178, 178, 0.6);
   border-color: transparent;
   opacity: 0.8;
 
}

.navbar li { color: #000 } 


}



.table {
  background-color: white;
}

.list-group-item {
  background-color: white;
  padding-left: 30px
}

.white-background {
  background: white;
  border-radius: 5px;
}

#inlineFormCustomSelect {
  color: black;
}

.garage-highlight {
  background-color: #a0a09a;
}

#details {
    position: auto;
    top: 0;
    right: 1;
    margin-left: 5px;
    margin-right: 5px;
    font: helvetica;
    font-size: 200%;
    color: #3a3636;
    float: right;
}

#parking-history-header {
      font-size: 100px;
    font-weight: 100;
}

#your-profile {
  font-size: 100px;
  font-weight: 100;
}

#homepage-logo {
  font-size: 100px;
  font-weight: bold;
}




