{% extends 'base.html' %}
{% block content %}


<body >


    <div class="tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div>
<div class="row">
    <div class="col-md-9">
      <div id="map" style="height: 800px;width=600px;"></div>
    </div>
  <div class="col-md-3">

    <ul class="list-group">
      {% for parking_location in garages|sort(attribute='dist') %}

          <li id="garage-list" class="list-group-item">
              <a href="/garages/{{ parking_location.parking_id }}">

                Address: {{ parking_location.address}} 
                </br>
                Garage ID: {{ parking_location.parking_id }}
                </br>
              </a>
                <b>Distance: {{ '%0.2f'| format(parking_location.dist|float) }} miles</b></br>
                
                <a href="https://maps.google.com/?daddr={{parking_location.latitude}},{{parking_location.longitude}}" target="blank"><button>Directions</button></a>
                {% if 'logged_in' in session.keys()%}
                <button type="button" id="garage-detail-button"class="btn btn-primary btn-sm " data-toggle="modal" data-target="#garageModal{{parking_location.parking_id}}">Garage Details</button>

                {% else %}
                <a><span> Login to gfjjhljkhgh</span></a>
                {% endif %}
          </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% for parking_location in garages|sort(attribute='dist') %}
<!-- modal for garage details -->
 <div class="modal fade" id="garageModal{{parking_location.parking_id}}" tabindex="-1" role="dialog" aria-labelledby=
  "myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label=
          "Close"><span aria-hidden="true">&#215;</span></button>

          <h4 class="modal-title" id="myModalLabel">{{parking_location.address}} Garage Details</h4>
        </div>
        <div class="modal-body">
           <form action="/garage_rating" method="POST">
        <select name="rating">
          <option label="1">1</option>
          <option label="2">2</option>
          <option label="3">3</option>
          <option label="4">4</option>
          <option label="5">5</option>
        </select>
        <input type="hidden" id="parking" name="parking" value="{{parking_location.parking_id}}">
        {% if 'logged_in' in session.keys() %}

        <input type="hidden" id="user" name="user" value="{{session['logged_in']}}">
        {% endif %}
        <button type="submit">Select your rating. 5 being best.</button>
      </form>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
            <h2>Garage Details</h2>


            
            
  Parking Date:
  <input type="date" name="parking_date">
 
  <button type="submit">Submit</button>
      </div>

<script>
  // var test = {{garages|safe}}
      function initMap() {
        // Styles a map in night mode.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 37.774, lng: -122.4194},
          zoom: 12,
          scrollwheel: false,
          zoomControl: true,
          scaleControl: false,
          draggable: true,
          styles: [
    {
        "featureType": "administrative",
        "elementType": "all",
        "stylers": [
            {
                "saturation": "-100"
            }
        ]
    },
    {
        "featureType": "administrative.province",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 65
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": "50"
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": "-100"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "all",
        "stylers": [
            {
                "lightness": "30"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "all",
        "stylers": [
            {
                "lightness": "40"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "hue": "#ffff00"
            },
            {
                "lightness": -25
            },
            {
                "saturation": -97
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "labels",
        "stylers": [
            {
                "lightness": -25
            },
            {
                "saturation": -100
            }
        ]
    }
]
        });
      
      {% for garage in garages %}
      var marker = new google.maps.Marker({
            position: {lat:{{garage.latitude}}, lng:{{garage.longitude}} },
            map: map,
            title: '{{garage.address}}'
          });
      {% endfor %}
      }

      function clearMarkers() {
        setMapOnAll(null);
      }

      function updateMarkers () {
        
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtbTBgDnd4FKa6iOlY8FDO3u1R94sItZc&callback=initMap"
    async defer></script>
  </body>
</html>
{% endblock %}

