{% extends 'base.html' %}
{% block content %}

  <!-- <div>
    <div class="col-md-3">
      <ul class="list-group">
        <li id="user-list" class="list-group-item">
        <h2>User Details</h2>
        <h3>First Name: {{ user.first_name }}</h3>
        <h3>Last Name: {{ user.last_name }}</h3>
        <h3>Email: {{ user.email }}</h3>
      </li>
    </ul>
  </div> -->
    
 <script src="http://d3js.org/d3.v3.js"></script>
     <div id="chart"></div> 
    <script src="{{url_for('static',filename='d3.layout.chord.sort.js')}}"></script>
        <script src="{{url_for('static',filename='d3.stretched.chord.js')}}"></script>
            <script src="{{url_for('static',filename='script.js')}}"></script>


   
<!-- 
 <div style="width: 400px; height: 400px">
  <canvas id="myChart" width="400" height="400"></canvas>
</div> -->

<div class="container-fluid">
  <body style="margin: 0;">


  <div class="row">
    <div class="col-md-4">
      <ul class="list-group">
        <li id="user-list" class="list-group-item">
        <h2>User Details</h2>
        <h3>First Name: {{ user.first_name }}</h3>
        <h3>Last Name: {{ user.last_name }}</h3>
        <h3>Email: {{ user.email }}</h3>
      </li>
    </ul>
     <div class="col-md-3"> 
    <div style="width: 400px; height: 400px">
      <canvas id="myChart" width="600" height="400"></canvas>
    </div>          
</div>

</div>
  <div class="col-md-7">
    <h2>Parking History</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p> 
    <table class="table">
    {% if scores %}
    {% for parking_location, value in scores.iteritems() %}

    <thead>
      <tr>
        <th class="col-md-3">Garage</th>
        <th class="col-md-3">Rating</th>
        <th class="col-md-3">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td>{{ parking_location }}</td>
        <td>{{ value.score }}</td>
       
        <td>
        {% for date in value.dates %}
        {{ date.strftime('%Y-%m-%d') }}<br>
        {% endfor %}
        </td>
        {% endfor %}
        
      
      </tr>
     
    </tbody>
    {% else %}
     <thead>
      <tr>
        <th class="col-md-3">Garage</th>
        <th class="col-md-3">Rating</th>
        <th class="col-md-3">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td></td>

        <td></td>
       
        <td>
        
        </td>
            </tbody>

        {% endif %}
  </table>
    
  </div>
  
 
</div>
</div>
</div>



    
 <script type="text/javascript">
  var user_id = {{ user.user_id }}
  

  
$.get('/chart/' + user_id, function(chartData){
  var data = {
      labels: ["January", "February", "March", "April", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"],
      datasets: [
          {
              label: "My First dataset",
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1,
              data: chartData.data,
          }
      ]
  };
  
  var myBarChart = new Chart("myChart", {
    type: 'bar',
    data: data,
    options:  {}  
    
  });

})

 </script>


{% endblock %}



